[submodule ".local/share/nvim/site/pack/plugins/start/vim-go"]
	path = .local/share/nvim/site/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".local/share/nvim/site/pack/plugins/start/fzf"]
	path = .local/share/nvim/site/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".local/share/nvim/site/pack/plugins/start/fzf.vim"]
	path = .local/share/nvim/site/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-ruby"]
	path = .local/share/nvim/site/pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".local/share/nvim/site/pack/plugins/start/janah"]
	path = .local/share/nvim/site/pack/plugins/start/janah
	url = https://github.com/mhinz/vim-janah
