[core]
    editor = "nvim"

[user]
    name = Ryan Uber
	email = ryan@hashicorp.com

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[push]
    default = current

[pull]
    rebase = true
